/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"); */

.App {
  text-align: center;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Poiret One", cursive;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  /* background: hsla(202, 67%, 20%, 1);
  background: linear-gradient(
    180deg,
    hsla(202, 67%, 20%, 1) 0%,
    hsla(196, 70%, 28%, 1) 32%,
    hsla(192, 74%, 41%, 1) 70%,
    hsla(176, 27%, 52%, 1) 100%
  ); */

  background: rgb(10, 10, 10);

  background: linear-gradient(
    180deg,
    rgb(10, 10, 10) 0%,
    rgb(138, 138, 138) 100%
  );
}

.navigation a {
  text-decoration: none;
}

.navigation {
  width: 100%;
  height: 60px;
  /* background: rgb(14, 61, 88); */
  background: rgb(10, 10, 10);
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 16px 24px 2px rgba(54, 54, 54, 0.555);
  letter-spacing: 2px;
}
.navigationS,
.navigationXL {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigationS ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: auto;
}

.navigationXL ul {
  list-style: none;
  width: auto;
}

.navigationS li {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  margin-bottom: 10px;
}
.navigationXL li {
  display: block;
  float: right;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  margin-bottom: 10px;
}
.dropdown li:hover {
  /* background-color: rgba(24, 129, 155, 0.822); */
  background-color: rgba(43, 43, 43, 0.699);
  cursor: pointer;
}
.navigationXL .dropdown li {
  /* width: 100%; */
  padding-right: 38px;
}
.navigation li a {
  color: #fff;
}
.navigationS h3 {
  padding-left: 35px;
}

.navigationS h3:hover {
  /* color: hsla(192, 74%, 41%, 1); */
  color: rgb(138, 138, 138);
  cursor: pointer;
}

.dropdown {
  background: rgba(196, 196, 196, 0.596);
  box-shadow: 0 16px 24px 2px rgba(104, 103, 103, 0.568);
}

.navigationS ul li ul {
  visibility: hidden;
  opacity: 0;
  width: 100px;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
  margin-left: 40px;
}

.navigationXL ul li ul {
  visibility: hidden;
  opacity: 0;
  /* width: 100px; */
  position: absolute;
  transition: all 0.5s ease;
  display: none;
  /* margin-left: 40px; */
}

.navigation ul li:hover > ul,
.navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
}

.logoCon {
  border-radius: 50%;
  width: 50px;
  margin-right: 50px;
}

.logoCon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.logoBtn {
  background-color: transparent;
  border: none;
  /* position: fixed; */
}

.infoContainer {
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Poiret One", cursive;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 30px;
  margin-top: 80px;
}
.infoText {
  text-align: left;
  width: 50%;
}
.infoPic {
  border-radius: 100%;
  width: 275px;
  margin-top: 45px;
}

@media only screen and (max-width: 900px) {
  body {
    justify-content: center;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .infoText {
    text-align: left;
    width: 100%;
    margin-top: 30px;
  }
  .navigationS {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .navigationXL {
    display: none;
  }
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.iconItem {
  margin: 22px;
  position: relative;
  width: 80px;
  height: 80px;
}

.iconTitle {
  position: absolute;
  text-align: center;
  font-size: 16px;
  width: 70px;
  height: 70px;
  color: white;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.iconItem:hover .iconTitle {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.iconItem:hover .iconImage {
  display: none;
  overflow: hidden;
}

.card {
  height: 350px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 350px;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: transparent;
  color: white;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.side img {
  border-radius: 25px;
}

.linksDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.linksDiv a {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.685);
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 8px;
}

.divLink {
  margin-top: 15px;
}
